body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f049;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    font-family: 'Times New Roman', Times, serif;
    size: 40px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

form {
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(64, 49, 49);
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input, form select, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
section{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0px;
    background-color: 1px solid #ccc;
}
p {
    font-size: 17px;
}

.criminalpictext{
    position: absolute;
    top: 25%;
    font-size: 40;
    color: whitesmoke;
    padding: 100px;
}
.criminalpictext h4{
    font-size: 20px;
    padding-left: 0px;
    text-transform: uppercase;
    top: 100px;
}

.img{
    padding: 1em;
    text-align: center;
}

form button:hover {
    background-color: #070101;
}
